.product-list{
    display:grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    grid-gap: 3rem;
    .product-card {
        max-width: 150px;
    }
}

mat-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

mat-card {
    transition: transform .2s;
}

.sort-dropdown{
    margin-left:20px;
}